main {
  max-width: 1300px;
  margin: 100px auto;
  box-sizing: border-box;
}
main a {
  text-decoration: none;
  color: inherit;
}
.links {
  margin-bottom: 100px;
}
.inactive-link {
  opacity: 0.6;
}
table {
  width: 100%;
}
td {
  width: 200px;
}
tr {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 35px;
  margin-bottom: 40px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
tr td:first-child {
  display: flex;
  align-items: center;
  gap: 10px;
}
tr td:last-child {
  max-width: 65px;
}

td > img {
  width: 50px;
}
.quantity-box {
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  padding: 10px 15px;
  position: relative;
}
.quantity-box span {
  padding: 15px;
}
.up-icon,
.down-icon {
  width: 12px;
}
.up-icon {
  position: absolute;
  top: 3px;
  right: 10px;
}
.down-icon {
  position: absolute;
  bottom: 3px;
  right: 10px;
}
.buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.buttons button {
  padding: 15px 50px;
  background-color: inherit;
  border-color: rgba(0, 0, 0, 0.5);
  font-size: inherit;
  border-radius: 4px;
  font-family: inherit;
}
.coupon-total-box {
  display: flex;
  justify-content: space-between;
}
.coupon-box input {
  padding: 15px;
  width: 290px;
  font-size: inherit;
  border-radius: 4px;
  border-color: rgba(0, 0, 0, 0.5);
}
.coupon-box button {
  padding: 15px 50px;
  font-size: inherit;
  margin-left: 15px;
  border-radius: 4px;
  border: none;
  background-color: rgba(219, 68, 68, 1);
  color: white;
}
.total-box {
  border: 1px solid rgba(0, 0, 0, 1);
  padding: 30px 25px;
  width: 490px;
}
.total-box > p {
  padding: 15px 0;
  font-weight: 600;
  font-size: 18px;
}
.total-box > div {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}
.subtotal,
.shipping {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.total-box button {
  background-color: rgba(219, 68, 68, 1);
  border: none;
  padding: 15px 40px;
  border-radius: 4px;
  color: white;
  font-size: inherit;
  margin: 10px auto;
  display: block;
}
