.best-selling-products {
  max-width: 1300px;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
}

.best-selling-title {
  display: flex;
  gap: 20px;
  align-items: center;
  color: #db4444;
  font-size: 20px;
}

.best-selling-title img {
  width: 20px;
  height: 40px;
}

.best-selling-subtitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.best-selling-subtitle h2 {
  font-size: 40px;
  font-weight: 600;
}

.best-selling-subtitle a {
  display: flex;
  width: 150px;
  height: 60px;
  background-color: #db4444;
  color: white;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 5px;
}

.best-selling-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}

.best-selling-card {
  position: relative;
}

.image-photo {
  width: 200px;
  padding: 50px;
}

.best-selling-price {
  display: flex;
  align-items: center;
  gap: 30px;
}

.best-selling-comment {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icons {
  position: absolute;
  right: 10px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.best-products-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 100px;
  margin-top: 40px;
}

.best-products {
  position: relative;
}

.best-products > img {
  width: 100%;
  height: 300px;
}

.best-products-title {
  height: 60px;
}

.best-products-price {
  display: flex;
  align-items: center;
  gap: 30px;
  font-weight: 500;
}

.best-products-price p {
  color: #db4444;
}

.best-products-price s {
  color: #7d8184;
}

.best-products-rate {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #7d8184;
  font-weight: 500;
}

.wishlist-and-cart {
  display: flex;
  flex-direction: column;
  width: 30px;
  position: absolute;
  right: -35px;
  top: -8px;
  cursor: pointer;
}

.wishlist-img:hover {
  width: 35px;
}

.cart-img:hover {
  width: 35px;
}

.sale-price {
  position: absolute;
  background-color: red;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-size: 14px;
  padding: 0 5px;
  top: 0;
}
