h2 {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: black;
  font-size: 36px;
}

.homepage-title-boxes {
  display: flex;
  align-items: center;
  margin-top: 90px;
  margin-bottom: 20px;
}

.homepage-title-boxes div {
  width: 20px;
  height: 40px;
  background-color: #db4444;
  margin-right: 10px;
  border-radius: 4px;
}

.homepage-title-boxes h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #db4444;
  font-size: 16px;
}

.red-filled-btn {
  border-radius: 4px;
  background-color: #db4444;
  color: #fafafa;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  padding: 16px 48px;
  border: none;
  cursor: pointer;
}

@media (max-width: 775px) {
  h2 {
    font-size: 32px;
  }

  .homepage-title-boxes h4 {
    font-size: 15px;
  }
}

@media (max-width: 540px) {
  h2 {
    font-size: 24px;
  }

  .homepage-title-boxes h4 {
    font-size: 13px;
  }

  .homepage-title-boxes div {
    width: 15px;
    height: 30px;
  }

  .browse-by-container,
  .best-selling-products,
  .container {
    padding: 0 20px;
  }
}

/* Header-as-container start */
.header-as-container {
  display: flex;
  max-width: 1300px;
  margin: 0 auto;
  max-height: 400px;
}

/* Aside start*/
.header-as-container aside {
  padding-top: 35px;
  padding-right: 20px;
  width: 20%;
  height: 100%;
  border-right: 1.5px solid #c1c0c0;
}

.header-as-container aside nav > ul {
  display: flex;
  flex-direction: column;
  gap: 19px;
}

.fashion-links {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.fashion-links li {
  padding: 5px;
}

.woman-popup,
.men-popup {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.259);
  backdrop-filter: blur(40px);
  margin-left: 240px;
  margin-top: 11px;
  min-width: 250px;
  font-size: 13px;
  z-index: 1;
  color: #f5f5f5;
  padding: 10px;
}

/* Aside end*/
/* Section start*/
.header-as-container section {
  padding: 35px 0 0 35px;
  width: 80%;
  max-height: 100%;
  position: relative;
}

.section-image-container {
  position: relative;
  height: 100%;
  width: 100%;
}

.my-slides {
  height: 100%;
}

.my-slides > img {
  width: 100%;
  height: 100%;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

.image-1-container {
  display: flex;
  background-color: #000000;
  height: 100%;
  width: 100%;
}

.iphone-title-container {
  color: white;
  width: 50%;
  padding: 50px;
}

.iphone-14-title {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 25px;
}

.iphone-title-container h1 {
  font-family: "Inter", sans-serif;
  font-size: 55px;
  margin-bottom: 35px;
}

.iphone-title-container a {
  border-bottom: 1px solid white;
  padding-bottom: 3px;
}

.header-vector-4 {
  margin-bottom: -4px;
  margin-left: 8px;
}

.dots {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 8px;
}

.dot {
  width: 12px;
  height: 12px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  box-sizing: content-box;
}

.active-dot {
  background-color: #db4444;
  border: 2px solid white;
}

/* Section end*/
/* Header-as-container end */

@media (max-width: 970px) {
  .header-as-container aside {
    display: none;
  }

  .header-as-container section {
    padding: 0;
    width: 100%;
    height: 400px;
  }
}

@media (max-width: 880px) {
  .iphone-title-container {
    padding: 25px;
  }

  .iphone-title-container h1 {
    font-size: 40px;
  }
}

@media (max-width: 775px) {
  .header-as-container section {
    height: 350px;
  }

  #header-iphone-image {
    width: 350px;
  }
}

@media (max-width: 670px) {
  .header-as-container section {
    height: 300px;
  }

  #header-iphone-image {
    width: 280px;
    height: 280px;
  }

  .iphone-title-container {
    padding: 15px;
  }
}

@media (max-width: 540px) {
  .header-as-container section {
    height: 250px;
  }

  .iphone-title-container h1 {
    font-size: 25px;
    margin-bottom: 15px;
  }

  .iphone-14-title {
    gap: 10px;
    margin-bottom: 15px;
  }

  .iphone-14-title img {
    width: 20px;
  }

  .header-vector-4 {
    width: 15px;
  }

  #header-iphone-image {
    width: 150px;
    height: 170px;
  }

  .dot {
    width: 8px;
    height: 8px;
  }

  #header-iphone-image {
    width: 50%;
    margin-right: -50px;
  }

  .padding-class {
    padding: 0 20px;
  }
}

@media (max-width: 460px) {
  .header-as-container section {
    height: 200px;
  }
}

/* Sebile/End of Homepage-Header */

/* Yüsra PR-2 Homepage Todays Products */
.todays-products-container {
  max-width: 1300px;
  display: flex;
  flex-direction: column;
  margin: 100px auto;
  padding-bottom: 80px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

/* .flash-sales-title {
  position: absolute;
} */

.flash-sales-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.flash-sales-left {
  display: flex;
  gap: 55px;
}

.flash-sales-counter-container {
  display: flex;
  gap: 10px;
}

.counter-info {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: black;
  font-size: 12px;
}

.flash-sales-counter {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: black;
  font-size: 32px;
}

.carousel-container {
  position: relative;
  margin: 50px 0;
}

.btn-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.product-carousel {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 50px;
}

.product-card,
.best-products,
.explore-products {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: black;
  position: relative;
  padding: 35px;
}

.product-title,
.best-products-title,
.explore-products-title {
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  width: 100%;
  display: -webkit-box;
  font-size: 16px;
}

/* .all-title {
  display: none;
  position: relative;
}
.title-container:hover .all-title {
  display: block;
  position: absolute;
} */

.product-card-img,
.best-products-img,
.explore-products-img {
  width: 100%;
  height: 250px;
}

.product-prices-container,
.best-product-prices-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.product-price,
.best-product-price {
  opacity: 50%;
}

.product-price-discounted,
.best-product-price-discounted {
  color: #db4444;
}

.products-rate,
.best-products-rate,
.explore-product-rate {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #7d8184;
  font-weight: 500;
}

.product-card-icons,
.wishlist-and-cart {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 30px;
  top: 0px;
  right: 0px;
  cursor: pointer;
}

.view-all-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.view-all-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: #db4444;
  color: #fafafa;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  width: 234px;
  height: 56px;
  cursor: pointer;
  border: none;
}

.add-to-cart-btn {
  position: relative;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  opacity: 0;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  cursor: pointer;
}

.product-card:hover .add-to-cart-btn {
  opacity: 1;
}

.discount-rate,
.sale-price {
  display: flex;
  background-color: #db4444;
  color: white;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 400;
  padding: 5px;
  width: 55px;
  justify-content: center;
  top: 0px;
  left: 5px;
  position: absolute;
}

@media (max-width: 575px) {
  /* .flash-sales-counter-container {
    transform: scale(0.5);
    margin-left: 45px;
    align-items: flex-end;
  } */
  .flash-sales-container {
    align-items: start;
    padding: 0 20px;
  }

  .flash-sales-left {
    gap: 0;
    flex-direction: column;
  }

  .flash-sales-counter-container {
    transform: scale(0.5);
    margin-left: -60px;
  }

  .product-carousel,
  .explore-products-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    gap: 20px;
    margin: 0 auto;
    width: 90%;
  }

  .product-card,
  .best-products,
  .explore-products {
    padding: 20px;
  }

  .add-to-cart-btn {
    font-size: 8px;
  }

  .product-prices-container,
  .best-product-prices-container {
    justify-content: start;
  }

  .product-card-img,
  .explore-products-img {
    height: 150px;
  }

  .stars {
    width: 50px;
  }

  .stars img {
    width: 10px;
  }

  .products-rate,
  .best-products-rate,
  .explore-product-rate {
    gap: 5px;
    justify-content: start;
  }

  .product-title,
  .product-price-discounted,
  .product-price,
  .product-card p,
  .explore-product-price,
  .explore-products-title,
  .explore-products-rate {
    font-size: 12px;
  }
}

/* Yüsra PR-2 Homepage Todays Products End */

/* Sebile/PR-3 Beginning of browse by category */

.browse-by-container {
  font-family: "Poppins", sans-serif;
  max-width: 1300px;
  margin: 30px auto 0 auto;
}

.browse-by-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
}

.browse-by-title h2 {
  font-weight: 500;
  font-size: 35px;
}

.move-to-left-icon:hover,
.move-to-right-icon:hover,
.scroll-up-icon:hover {
  filter: invert(15%);
}

.category-boxes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding-bottom: 80px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.category-box {
  height: 175px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  transition: transform 0.5s ease;
}

.category-box:hover {
  background-color: #db4444;
  transform: scale(1.1);
  color: white;
  box-shadow: 0 29px 52px rgba(0, 0, 0, 0.4), 0 25px 16px rgba(0, 0, 0, 0.2);
}

.category-box:hover img {
  filter: invert(100%);
}

.category-box p {
  margin: 0 auto;
}

@media (max-width: 655px) {
  .category-boxes {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
  }

  .category-box {
    height: 150px;
  }
}

@media (max-width: 505px) {
  .category-box {
    height: 120px;
  }

  .move-to-left-icon,
  .move-to-right-icon {
    width: 40px;
  }

  .browse-by-title h2 {
    font-size: 30px;
  }

  .browse-by-title {
    margin-bottom: 25px;
  }
}

@media (max-width: 460px) {
  .move-to-left-icon,
  .move-to-right-icon {
    width: 30px;
  }

  .browse-by-title h2 {
    font-size: 25px;
  }
}

/* Sebile/PR-3 End of browse by category */

.container {
  max-width: 1300px;
  margin: auto;
}

/*ARRIVALS*/
.content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-top: 50px;
}

.content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.right-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.right-item .right-item-top {
  display: flex;
}

.left-item {
  flex: 1;
  display: flex;
}

.right-item-bottom {
  display: flex;
  flex: 1;
  gap: 20px;
}

.right-item-top,
.right-item-bottom-left,
.right-item-bottom-right {
  flex: 1;
}

.left-item img {
  min-width: 300px;
}

.right-item .right-item-top img {
  min-width: 300px;
}

.right-item .right-item-bottom img {
  min-width: 150px;
}

/*SERVICES*/
.services {
  margin: 130px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 120px;
  flex-wrap: wrap;
}

.services-items img {
  padding: 5px;
  background-color: black;
  border-radius: 50%;
}

.services-items h3 {
  font-size: 20px;
  font-weight: 600;
}

.services-items p {
  font-size: 14px;
  font-weight: 400;
}

.bg-img {
  display: inline-block;
  background: rgba(47, 46, 48, 0.3);
  padding: 5px 5px 0 5px;
  border-radius: 50%;
}

@media (max-width: 575px) {
  .services {
    transform: scale(0.8);
  }
}

/* MÜCAHİT BEST SELLING PRODUCTS START */
.best-selling-products {
  max-width: 1300px;
  margin: 0 auto;
}

.best-selling-subtitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.best-products-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 50px;
  margin-top: 40px;
}

/* .best-products {
  position: relative;
}

.best-products>img {
  width: 100%;
  height: 300px;
}

.best-products-title {
  height: 60px;
}

.best-products-price {
  display: flex;
  align-items: center;
  gap: 30px;
  font-weight: 500;
}

.best-products-price p {
  color: #db4444;
}

.best-products-price s {
  color: #7d8184;
}

.best-products-rate {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #7d8184;
  font-weight: 500;
} 
 .wishlist-and-cart {
  display: flex;
  flex-direction: column;
  width: 30px;
  position: absolute;
  right: -35px;
  top: -8px;
  cursor: pointer;
} */

/* .sale-price {
  position: absolute;
  background-color: red;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-size: 14px;
  padding: 0 5px;
  top: 0;
} */
@media (max-width: 540px) {
  .best-products-container {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}

/* MÜCAHİT BEST SELLING PRODUCTS END */
/* Featured start */

.homepage-featured-product {
  max-width: 1300px;
  height: 500px;
  background-color: black;
  display: flex;
  margin: 80px auto 0 auto;
  position: relative;
  overflow: hidden;
}

.featured-product-left {
  flex: 1;
  margin-left: 55px;
}

.featured-product-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.product-img,
.ellipse-shadow {
  position: absolute;
  transform: translateX(-50px);
}

.featured-product-title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #00ff66;
  font-size: 16px;
  margin-top: 70px;
}

.featured-product-text {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #fafafa;
  font-size: 48px;
  margin: 30px 0;
}

.featured-product-counter-container {
  display: flex;
  gap: 20px;
}

.featured-product-counter-container div {
  background-color: #fff;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter-info {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: black;
  font-size: 11px;
}

.featured-product-counter {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: black;
  font-size: 16px;
}

.featured-product-counter-days {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buy-now-btn {
  background-color: #00ff66;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 56px;
  border-radius: 4px;
  /* padding: 16px 48px; */
  margin: 50px 0;
  bottom: 10px;
  left: 55px;
  position: absolute;
}

.buy-now-btn a {
  font-size: 16px;
  color: #fafafa;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
}
@media (max-width: 1050px) {
  .homepage-featured-product {
    width: 100%;
  }
  .product-img {
    transform: scale(0.7);
  }
}
@media (max-width: 715px) {
  .homepage-featured-product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
    width: 100%;
  }

  .featured-product-left {
    transform: scale(0.7);
    margin: 0 auto;
  }

  .featured-product-title,
  .featured-product-counter-container {
    display: flex;
    justify-content: center;
  }

  .product-img,
  .ellipse-shadow {
    transform: translateY(-60px) scale(0.5);
    overflow: hidden;
  }

  .featured-product-text {
    text-align: center;
  }

  .buy-now-btn {
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translateX(-50%) scale(0.8);
    margin: 0 auto;
  }
}

/* Featured end */
/* Mücahit Explore Our Products Start */
.explore-our-products {
  max-width: 1300px;
  margin: 50px auto;
  font-family: "Poppins", sans-serif;
}

.explore-products-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 50px;
  margin-top: 40px;
}

.explore-wishlist-and-cart {
  display: flex;
  flex-direction: column;
  width: 30px;
  position: absolute;
  right: 0;
  top: -8px;
  cursor: pointer;
}

.explore-products-rate {
  display: flex;
  gap: 15px;
}

.explore-product-price {
  color: rgb(219, 68, 68);
}

@media (max-width: 575px) {
  .explore-products-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    gap: 20px;
    margin: 50px auto;
    width: 90%;
  }

  .explore-products-subtitle {
    padding: 0 20px;
  }
}

/* Mücahit Explore Our Products End */

.back-to-top-scroll {
  display: none;
  position: fixed;
  bottom: 5px;
  right: 30px;
  transition: all 2s ease;
}
