@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");
/* Sebile/Beginning of Homepage-Header */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  font-family: "Poppins", sans-serif;
}
header ul {
  list-style-type: none;
}
header a {
  text-decoration: none;
  color: inherit;
}
/* Top-header-container start */
.top-header-container {
  background-color: #000000;
}
.top-header {
  display: flex;
  align-items: center;
  max-width: 1300px;
  padding: 10px 0;
  color: #fafafa;
  font-size: 14px;
  margin: 0 auto;
}
.summer-sale-title {
  margin: 0 auto;
}
.summer-sale-title a {
  font-weight: 600;
  color: #fafafa;
  padding-left: 7px;
  text-decoration: underline;
}

.header-language {
  display: flex;
  align-items: center;
}
.header-language p {
  padding-left: 5px;
  position: relative;
}
#select-btn {
  padding: 5px;
  background-color: inherit;
  color: #f5f5f5;
  border: none;
}
#select-btn:focus {
  outline: none;
}

/* Top-header-container end */
/* Hr-container start */
.hr-container {
  border-bottom: 1px solid #bab9b9;
}
.header-top-navbar {
  max-width: 1300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 35px auto 15px auto;
}
.header-top-navbar strong {
  font-family: "Inter", sans-serif;
  font-size: 24px;
}
.header-logo-container {
  display: flex;
  align-items: center;
}
#menuBtn {
  display: none;
}
.active-link {
  border-bottom: 1px solid black;
}
.header-navbar ul {
  display: flex;
  list-style-type: none;
  gap: 40px;
}

.header-navbar a {
  text-decoration: none;
  color: inherit;
}
.bottom-line {
  border-bottom: 1px solid black;
}
.top-search-section {
  display: flex;
  align-items: center;
  gap: 10px;
}
.search-container {
  display: flex;
  flex-direction: column;
  position: relative;
}
.product-lists {
  position: absolute;
  color: #f5f5f5;
  padding: 10px;
  font-size: 13px;
  border-radius: 4px;
  margin-top: 50px;
  background-color: rgba(0, 0, 0, 0.259);
  backdrop-filter: blur(40px);
  z-index: 1;
}
.product-lists li {
  padding: 4px;
  list-style-type: none;
}
.searchbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.searchbar input {
  padding: 15px;
  border: none;
  border-radius: 3px;
  background-color: transparent;
  width: 220px;
}
.searchbar input:focus {
  outline: none;
}
.searchbar img {
  margin-right: 10px;
}
.top-search-section a {
  height: 32px;
}
/* Hr-container end */
@media (max-width: 880px) {
  .header-top-navbar {
    margin-top: 15px;
  }
  .header-navbar ul {
    gap: 20px;
  }
}
@media (max-width: 775px) {
  header {
    font-size: 13px;
  }
  .top-header {
    font-size: inherit;
  }
  .header-navbar ul {
    gap: 15px;
  }
  .header-top-navbar strong {
    font-size: 23px;
  }
  .searchbar input {
    width: 185px;
    padding: 10px;
  }
}
@media (max-width: 670px) {
  .summer-sale-title span {
    display: none;
  }
  .header-navbar {
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    height: 100vh;
    width: 280px;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.259);
    backdrop-filter: blur(40px);
    color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-100%);
    transition: transform 0.2s ease-in-out;
  }
  .active-link {
    border-bottom: 1px solid #f5f5f5;
  }
  .show-navbar {
    transform: translateX(0);
  }

  #menuBtn {
    display: inline-block;
  }

  .header-navbar ul {
    flex-direction: column;
    gap: 20px;
  }
}
@media (max-width: 540px) {
  .top-header {
    padding: 5px 0;
  }
  .header-top-navbar {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .header-navbar {
    width: 235px;
    font-size: 18px;
  }
  .header-top-navbar strong {
    font-size: 17px;
  }
  .top-header {
    font-size: 10px;
    text-align: center;
  }
  #select-btn {
    font-size: 12px;
    padding: 3px;
  }
  .searchbar input {
    width: 140px;
    font-size: 10px;
  }
}
